$bg-nav-line: #BABBC5;
$color-text: #ffffff;
$bg-bottom: #FF4343;
$text-h3: #2D3033;
$text-team: #6C7279;
$bg-slider: #5C3249;
$slidel-linck: #7E5D6F;
$bg-footer: #353C65;
$bg-footer-block: #C6CBCD;
$bg-footer-bottom: #2C3154;
$color-footer: #808080;
$bg-header: rgb(37, 43, 73, 0.8);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}

.header {
    background-image: url(../media/bg_header.png);
    object-fit: cover;
    max-width: 1510px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $bg-header;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.nav {
    display: flex;
    border-bottom: 1px solid $bg-nav-line;
    justify-content: space-between;
    margin-bottom: 130px;
    position: relative;
    z-index: 1;

    &__logo {
        padding: 36px 0px;
    }

    &__menu {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    &__item {
        padding: 10px 20px;

        a {
            color: $color-text;
            text-decoration: none;
        }
    }
}

.title {
    font-size: 64px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.text {
    font-size: 24px;
    line-height: 28px;
    color: $color-text;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.button {
    background-color: $bg-bottom;
    color: $color-text;
    max-width: 370px;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    padding: 26px 0px;
    border: none;
    margin-bottom: 120px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.dignity {
    margin-bottom: 116px;

    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-top: 116px;
        row-gap: 89px;
        column-gap: 25px;
    }

    &__block {
        flex-direction: column;
        max-width: 370px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-bottom: 29px;
    }

    &__title {
        font-size: 24px;
        line-height: 28px;
        color: $text-h3;
        padding: 22px 0px;
    }
}

.portfolio {
    margin-bottom: 116px;

    &__blocks {
        display: flex;
        flex-wrap: wrap;
    }

    &__block {
        max-width: 378px;
        max-height: 340px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

.team {
    margin-bottom: 116px;

    &__blocks {
        display: flex;
        column-gap: 30px;
    }

    &__block {
        max-width: 270px;
        width: 100%;
        text-align: left;
    }

    &__foto {
        width: 270px;
        height: 270px;
        overflow: hidden;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    &__job {
        color: $bg-bottom;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &__text {
        color: $text-team;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 38px;
    }

    &__social {
        display: flex;
        column-gap: 6px;

        &-block {
            width: 39px;
            height: 39px;
            overflow: hidden;
        }
    }
}

.slider {
    margin-bottom: 116px;

    &__blocks {
        display: flex;
        margin-bottom: 31px;
    }

    &__img {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    &__text {
        background-color: $bg-slider;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            color: $color-text;
            font-family: "Raleway", serif;
            font-size: 36px;
            line-height: 49px;
            max-width: 471px;
            width: 100%;
            font-style: italic;
        }

        &-autor {
            color: $color-text;
            font-size: 13px;
            line-height: 15px;
            max-width: 471px;
            width: 100%;
        }
    }

    &__linck {
        display: flex;
        justify-content: center;
        column-gap: 25px;
    }

    &__next {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $slidel-linck;
    }

    &__active {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $slidel-linck;
        background-color: $slidel-linck;
    }
}

.download {
    margin-bottom: 116px;
    text-align: center;

    &__title {
        font-size: 30px;
        line-height: 35px;
        padding: 17px 0px;
    }

    &__text {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 48px;
    }
}

.footer {
    background-color: $bg-footer;

    &__top {
        display: flex;
        column-gap: 30px;
        margin-bottom: 71px;
    }

    &__location {
        max-width: 370px;
        width: 100%;
        margin-top: 71px;
    }

    &__title {
        font-size: 18px;
        line-height: 21px;
        color: $color-text;
        font-weight: 700;
        margin-bottom: 29px;
    }

    &__blocks {
        display: flex;
        column-gap: 27px;
        justify-content: center;
        margin-top: 49px;
    }

    &__block {
        width: 39px;
        height: 39px;
        overflow: hidden;
        border: 1px solid $bg-footer-block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-size: 18px;
        line-height: 21px;
        color: $color-text;
    }

    &__bottom {
        max-width: 1511px;
        width: 100%;
        background-color: $bg-footer-bottom;
        display: flex;
        justify-content: center;
        align-items: center;

        &-text {
            color: $color-footer;
            max-width: 370px;
            width: 100%;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            padding: 24px 0px;
        }

        &-end {
            color: $color-text;
        }
    }
}